/Books2/nbproject/private/
/nbproject/private/
/build/
/dist/
/build.xml
/nbproject/build-impl.xml
/nbproject/project.properties
/nbproject/genfiles.properties
/nbproject/ant-deploy.xml
/nbproject/project.xml